/* Header and Footer Styles */
header, footer {
    width: 100%;
    background-color: var(--panel-background-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

header {
    top: 0;
    left: 0;
}

footer {
    bottom: 0;
    left: 0;
    color: var(--text-color);
}

header h1, footer p {
    color: var(--primary-color);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.home-button, .dropdown-button, .button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    height: 41px;
}

.home-button:hover, .dropdown-button:hover, .button:hover {
    background-color: var(--primary-color-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.home-button:active, .dropdown-button:active, .button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--panel-background-color);
    min-width: 160px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    border-radius: 8px;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#theme-switcher, #language-switcher, #login-btn {
    font-size: 20px;
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

#theme-switcher:hover, #language-switcher:hover, #login-btn:hover {
    transform: scale(1.1);
}

.language-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--language-button-color);
}

.footer-links a {
    color: var(--footer-link-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.footer-links a[aria-label="YouTube"] {
    color: #FF0000;
}

.footer-links a[aria-label="Instagram"] {
    color: #E1306C;
}

.footer-links a[aria-label="Discord"] {
    color: #7289DA;
}

.footer-links a:hover {
    transform: translateY(-2px);
    text-decoration: underline;
}

#developer-link {
    font-weight: bold;
    color: var(--developer-link-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

#developer-link:hover {
    transform: translateY(-2px);
    text-decoration: underline;
}

.donate {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--donate-link-color);
    margin-left: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.donate i {
    margin-right: 5px;
}

.donate:hover {
    color: var(--donate-link-hover-color);
    transform: translateY(-2px);
}

/* Chat Styles */
.chat-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    transition: all 0.3s ease;
}

.chat-button:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.chat-button .unread-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: none;
}

#chat-container {
    width: 400px;
    height: 500px;
    position: fixed;
    bottom: 140px;
    right: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: none;
    background-color: var(--panel-background-color);
    z-index: 1002;
    flex-direction: column;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--panel-background-color);
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: column;
}

#chat-messages::-webkit-scrollbar {
    width: 8px;
}

#chat-messages::-webkit-scrollbar-track {
    background: var(--panel-background-color);
}

#chat-messages::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 10px;
}

#chat-messages li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

#chat-messages li.sent {
    align-self: flex-end;
    align-items: flex-end;
}

#chat-messages li.sent .message-header {
    flex-direction: row-reverse;
}

#chat-messages li.sent .message-header img {
    margin-left: 5px;
    margin-right: 0;
}

#chat-messages li.sent .username {
    margin-right: 5px;
    margin-left: 0;
}

#chat-messages .message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 0.9em;
}

#chat-messages .message-header img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#chat-messages li.received .message-header img {
    margin-right: 5px;
}

#chat-messages .username {
    font-weight: bold;
}

#chat-messages li.received .username {
    margin-left: 5px;
}

#chat-messages li.received {
    align-self: flex-start;
    align-items: flex-start;
}

#chat-messages .message-content {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--received-message-bg);
    color: var(--received-message-text-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#chat-messages li.sent .message-content {
    background-color: var(--sent-message-bg);
    color: var(--sent-message-text-color);
}

#chat-messages li.developer .message-content {
    background-color: var(--developer-message-bg);
    color: var(--developer-message-text-color);
}

#chat-messages li.developer .username {
    color: var(--developer-link-color);
}

#chat-messages .message-time {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
    align-self: flex-end; /* Align timestamp to the right for all messages */
}

#chat-messages li.sent .message-time {
    align-self: flex-end; /* Align to the right for sent messages */
}

#chat-messages li.received .message-time {
    align-self: flex-start; /* Align to the left for received messages */
}

#chat-input {
    display: flex;
    padding: 10px;
    background-color: var(--panel-background-color);
    border-top: 1px solid var(--border-color);
}

#chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-right: 10px;
    background-color: var(--panel-background-color);
    color: var(--text-color);
}

#chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#chat-input button:hover {
    background-color: var(--primary-color-dark);
    transform: translateY(-2px);
}